{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@next/next/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-undef": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-console": "warn",
    "no-debugger": "error",
    "consistent-return": "warn",
    "array-callback-return": "warn",
    "default-case": "warn",
    "dot-notation": "warn",
    "eqeqeq": ["error", "always"],
    "no-alert": "warn",
    "no-else-return": "warn",
    "no-empty-function": "warn",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "warn",
    "no-fallthrough": "warn",
    "no-floating-decimal": "warn",
    "no-global-assign": "error",
    "no-implicit-coercion": "warn",
    "no-implied-eval": "error",
    "no-iterator": "warn",
    "no-labels": "warn",
    "no-lone-blocks": "warn",
    "no-loop-func": "warn",
    "no-multi-str": "warn",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-wrappers": "warn",
    "no-octal-escape": "warn",
    "no-param-reassign": "warn",
    "no-proto": "warn",
    "no-redeclare": "error",
    "no-return-assign": "warn",
    "no-script-url": "warn",
    "no-self-assign": "error",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-throw-literal": "error",
    "no-unused-expressions": "warn",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-void": "warn",
    "no-warning-comments": "warn",
    "no-with": "error",
    "vars-on-top": "warn",
    "wrap-iife": ["error", "outside"],
    "yoda": "warn",
    "strict": "warn",
    "init-declarations": "warn",
    "no-catch-shadow": "warn",
    "no-delete-var": "error",
    "no-shadow-restricted-names": "error",
    "no-undef-init": "warn",
    "no-undefined": "warn",
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
